{% extends "base.html" %}

{% block active_link %}class-link{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/classes.css' ) }}">
{% endblock %}

{% block body %}
    {% if session['admin'] %}
    <button id="jobsCreate" onclick="document.location.href='/createClass'">Create a Class</button>
    {% endif %}

    <div class="column">
        <table class="display cell-border" id="classesTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Prerequisites</th>
                    <th>Description</th>
                    <th>Take Class</th>
                </tr>
            </thead>
            <tbody>
            {% for class in classes %}
                <tr>
                    <td>{{ class.title }}</td>
                    <td>{{ class.prerequisites }}</td>
                    <td>{{ class.description }}</td>
                    <td><button type="button" onclick="window.location.href='{{ url_for('show_class', classid=(class._id|string)) }}'">Take Class</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/classes.js' ) }}"></script>
{% endblock %}